
  <div class="margin-sides-24">

    <div class="max-width">

    <section class="clr-row border-bottom padding-bottom-24">

        <div class="clr-col-4">

          <h3>Packages</h3>

        </div>

        <div class="clr-col-8 padding-left-72 padding-top-24">

          <ul class="list-unstyled">

              {{ range where .Site.Pages "Params.type" "package" }}

              <li class="twocol-li"><a href="{{ .Permalink }}">{{ .Title }}</a></li>

              {{ end }}

          </ul>

        </div>

      </section>

    </div>

  </div>
